<h1 class="pokemon-font">Pokedex</h1>
<mat-list>
    <mat-list-item>
      <span class="pokedexListItem" matListItemTitle>Pepper</span>
      <span class="pokedexListItem" matListItemLine>Produced by a plant</span>
    </mat-list-item>
    <mat-list-item>
      <span class="pokedexListItem" matListItemTitle>Salt</span>
      <span class="pokedexListItem" matListItemLine>Extracted from sea water</span>
    </mat-list-item>
    <mat-list-item>
      <span class="pokedexListItem" matListItemTitle>Paprika</span>
      <span class="pokedexListItem" matListItemLine>Produced by dried and ground red peppers</span>
    </mat-list-item>
  </mat-list>
