#menuTitle{
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    text-decoration: none;
    color: yellow;
    text-shadow: 2px 2px black;
}

.topToolbar{
    gap: 1rem;
    background: linear-gradient(90deg, red 20%, rgb(250,120,120) 60%,white 95%);
}